Repository rbardini/rbardini.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint, matter-now, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Increase avatar shape outside size
  src/components/Avatar.astro
Due: none

Update dependencies
  package-lock.json
  package.json
Due: none

Add light and dark code themes
  astro.config.mjs
  src/styles/main.css
Due: none

Add Mastodon verification link
  src/components/Head.astro
Due: none

Animate avatar chest
  src/components/Avatar.astro
Due: none

Add mechatronics technical course to resume
  public/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Update resume skills
  public/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Update about me
  public/resume.json
  src/pages/index.astro
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Update resume work, projects and awards
  public/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Improve heading typography
  src/styles/main.css
Due: none

Block AI agents and robots
  public/robots.txt
Due: none

Add paragraphs to resume summary
  public/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Fix broken RSS
  src/pages/rss.xml.ts
Due: none

Decrease letter spacing
  src/styles/main.css
Due: none

Update dependencies
  .husky/_/husky.sh
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

Fix production build
  src/components/Avatar.astro
  src/pages/resume.astro
Due: none

Fix missing syntax highlighting
  astro.config.mjs
Due: none

Catch `NotFound` error when removing `dist` folder
  main.ts
Due: none

Pin esm.sh build versions
  deno.json
  deno.lock
Due: none

Use responsive typography
  static/css/styles.css
Due: none

Fix broken post links in archive
  components/post-item.ts
Due: none

Desaturate unhovered images
  static/css/styles.css
Due: none

Move excerpt to Markdown body
  components/post-header.ts
  posts/2019-12-20-making-optional-properties-nullable-typescript.md
  static/css/styles.css
  types.ts
  utils/markdown.ts
Due: markdownlint

Add `parseHTML` util
  utils/html.ts
  utils/markdown.ts
Due: none

Replace `html` util with `@rbardini/html` package
  components/document.ts
  components/footer.ts
  components/head.ts
  components/post-header.ts
  components/post-item.ts
  components/post.ts
  deno.json
  deno.lock
  routes/404.html.ts
  routes/archive.ts
  routes/index.html.ts
  routes/sitemap.xml.ts
  utils/html.ts
Due: none

Add site age to footer
  components/footer.ts
  static/css/styles.css
Due: none

Fix HTML validation issues
  components/document.ts
  components/head.ts
  components/post-header.ts
Due: none

Use type-only imports
  components/post-header.ts
  components/post-item.ts
  components/post.ts
  main.ts
  routes/[posts].ts
  routes/archive.ts
  routes/index.html.ts
  routes/rss.xml.ts
  routes/sitemap.xml.ts
  utils/markdown.ts
  utils/posts.ts
  utils/routes.ts
Due: none

Slide avatar in from the bottom
  static/css/styles.css
Due: none

Increase unhovered images saturation
  static/css/styles.css
Due: none

Path conditions:
  eslint --fix: any of: *.js
  markdownlint: any of: *.md
  matter-now: any of: src/posts/*.md
  json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f: any of: resume.json
