Repository rbardini/rbardini.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint, matter-now, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

.lintstagedrc:

{
  "*.js": "eslint --fix",
  "*.md": "markdownlint",
  "src/posts/*.md": "matter-now"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint",
  "resume.json": "json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f",
  "src/posts/*.md": "matter-now"
}

Add trailing slashes to route URLs
  components/post-header.ts
  components/post-item.ts
  constants.ts
  routes/rss.xml.ts
  routes/sitemap.xml.ts
Due: none

Scale avatar porthole up
  static/avatar.svg
  static/css/styles.css
Due: none

Randomly animate avatar when idle
  static/js/animated-avatar.js
Due: eslint --fix

Update dependencies
  deno.json
  deno.lock
Due: none

Add git hooks
  .githooks/pre-commit
  .lintstagedrc.json
  deno.json
Due: none

Remove resume publications and interests
  static/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Remove resume language fluencies
  static/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Remove resume project keywords, roles and types
  static/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Update Carteiro highlight link in resume
  static/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Improve text rendering on macOS
  static/css/styles.css
Due: none

Lighten link underline color
  static/css/styles.css
Due: none

Clip around animated avatar
  static/css/styles.css
Due: none

Add view transitions
  components/footer.ts
  components/post-header.ts
  components/post-item.ts
  static/css/styles.css
  types.ts
  utils/posts.ts
Due: none

Decrease font size
  static/css/styles.css
Due: none

Increase top and bottom margins
  static/css/styles.css
Due: none

Update Carteiro links
  posts/2012-04-16-notas-de-lancamento.md
  static/resume.json
Due: markdownlint, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Fix undefined RSS `<link>`
  routes/rss.xml.ts
Due: none

Set correct RSS content type
  netlify.toml
Due: none

Move redirects to `netlify.toml`
  netlify.toml
  static/_redirects
Due: none

Upgrade Netlify's Deno version on build
  netlify.toml
Due: none

Simplify resume study types
  static/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Restore resume publications
  static/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Simplify resume summary
  routes/index.html.ts
  static/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Add canonical links
  components/head.ts
  routes/[posts].ts
  routes/archive.ts
  routes/index.html.ts
  routes/rss.xml.ts
  routes/sitemap.xml.ts
  types.ts
  utils/routes.ts
Due: none

Change background color
  static/css/styles.css
Due: none

Improve RSS compatibility
  constants.ts
  netlify.toml
  routes/rss.xml.ts
Due: none

Add web components initialization pitfalls post
  posts/2026-01-06-web-components-initialization-lifecycle-pitfalls.md
Due: markdownlint

Watch for Markdown posts changes
  deno.json
Due: none

Remove pullquotes
  posts/2015-02-19-exercendo-a-nao-opiniao.md
  static/css/styles.css
Due: markdownlint

Use static font size
  static/css/styles.css
Due: none

De-emphasize latest post
  components/post-header.ts
  routes/index.html.ts
Due: none

Decrease letter spacing
  static/css/styles.css
Due: none
