Repository rbardini/rbardini.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint, matter-now, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Update link to resume
  src/pages/about.md
Due: markdownlint

Update dependencies
  package-lock.json
  package.json
Due: none

Update Carteiro project highlights and dates
  public/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Update resume label
  public/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Add Snoosweek Q1 2023 award
  public/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Remove HackerRank profile from resume
  public/resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

Add how to build TS library with Vite post
  src/posts/2023-05-28-how-to-build-ts-library-with-vite.md
Due: markdownlint, matter-now

Add `dateFormat` prop to `ArchiveItem`
  src/components/ArchiveItem.astro
Due: none

Show recent posts as items on homepage
  src/components/ArchiveCTA.astro
  src/components/LatestPosts.astro
  src/pages/index.astro
Due: none

Update about page
  src/pages/about.md
Due: markdownlint

Replace last post with about on homepage
  src/components/Footer.astro
  src/components/LatestPosts.astro
  src/pages/about.md
  src/pages/index.astro
  src/styles/main.css
Due: markdownlint

Decrease latest posts heading level
  src/components/LatestPosts.astro
Due: none

Remove analytics
  src/components/Analytics.astro
  src/components/Head.astro
Due: none

Remove Turbolinks
  public/humans.txt
  src/components/Head.astro
  src/styles/main.css
Due: none

Fix post permalinks
  src/components/ArchiveItem.astro
  src/components/Post.astro
Due: none

Fix 404 page layout
  src/pages/404.md
Due: markdownlint

Fix sitemap link
  src/components/Head.astro
Due: none

Ignore `.netlify` folder
  .gitignore
Due: none

Move logo to footer
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Logo.astro
  src/layouts/Base.astro
  src/styles/main.css
Due: none

Remove padding from lists
  src/styles/main.css
Due: none

Remove content wrapper div
  src/layouts/Base.astro
  src/styles/main.css
Due: none

Use fluid typography and don't hyphenate/justify
  src/pages/index.astro
  src/styles/main.css
Due: none

Emphasize latest post
  src/components/ArchiveCTA.astro
  src/components/ArchiveItem.astro
  src/components/LatestPosts.astro
  src/components/Post.astro
  src/styles/main.css
Due: none

Update dependencies
  astro.config.mjs
  package-lock.json
  package.json
  src/layouts/Page.astro
Due: none

Move archive CTA inside latest posts list
  src/components/ArchiveCTA.astro
  src/components/ArchiveItem.astro
  src/components/LatestPosts.astro
  src/styles/main.css
Due: none

Add avatar to homepage
  src/components/Page.astro
  src/pages/index.astro
Due: none

Replace static avatar with animated SVG
  package-lock.json
  package.json
  public/avatar.svg
  src/components/Avatar.astro
  src/pages/index.astro
Due: none

Remove unnecessary `@ts-ignore` comment
  src/pages/resume.astro
Due: none

Add `sitemap.xml` redirect
  public/_redirects
Due: none

Remove avatar `clip-path` due to Safari bug
  src/components/Avatar.astro
Due: none

Add Snoo icon to Reddit link
  src/components/Snoo.astro
  src/pages/index.astro
  src/styles/main.css
Due: none

Improve avatar hover animation
  src/components/Avatar.astro
Due: none

Increase body inline padding
  src/styles/main.css
Due: none

Path conditions:
  eslint --fix: any of: *.js
  markdownlint: any of: *.md
  matter-now: any of: src/posts/*.md
  json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f: any of: resume.json
