Repository rbardini/rbardini.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint, matter-now

Add date to posts on pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Due: none

Use Bootstrap's system font stack
  layouts/layout.pug
  src/assets/css/main.css
Due: none

Use alternative Google Analytics async tag
  layouts/layout.pug
Due: none

Don't copy all highlight.js styles
  index.js
  layouts/layout.pug
Due: eslint --fix

Update dependencies
  package-lock.json
  package.json
Due: none

Add lite-youtube-embed dependency
  package-lock.json
  package.json
Due: none

Copy lite-youtube-embed files to vendor folder
  index.js
Due: eslint --fix

Remove responsive video styles
  src/assets/css/main.css
Due: none

Load lite-youtube-embed script and stylesheet
  layouts/layout.pug
Due: none

Replace YouTube embed with lite-youtube-embed
  src/posts/2016-06-09-alain-de-botton-on-love.md
Due: markdownlint, matter-now

Fix all YouTube links and embeds
  src/posts/2008-02-14-quem-nunca-comeu-melado-quando-come-se-lambuza.md
  src/posts/2008-03-06-oh-voce-queria-entusiasmo.md
  src/posts/2008-03-10-a-luta-mais-violenta-durante-uma-partida-de-hoquei.md
Due: markdownlint, matter-now

Move all third-party assets to vendor folder
  index.js
  layouts/layout.pug
Due: eslint --fix

Use lite-youtube-embed (#1)
  index.js
  layouts/layout.pug
  package-lock.json
  package.json
  src/assets/css/main.css
  src/posts/2008-02-14-quem-nunca-comeu-melado-quando-come-se-lambuza.md
  src/posts/2008-03-06-oh-voce-queria-entusiasmo.md
  src/posts/2008-03-10-a-luta-mais-violenta-durante-uma-partida-de-hoquei.md
  src/posts/2016-06-09-alain-de-botton-on-love.md
Due: eslint --fix, markdownlint, matter-now

Remove manual directory deploy
  package-lock.json
  package.json
Due: none

Minify vendor files
  package-lock.json
  package.json
Due: none

Break code blocks out of the grid
  src/assets/css/main.css
Due: none

Highlight inline code
  src/assets/css/main.css
Due: none

Increase distance between articles
  src/assets/css/main.css
Due: none

Update dependencies
  .nvmrc
  package-lock.json
  package.json
Due: none

Add hiding covered files from Jest coverage report post
  src/posts/2020-05-06-hiding-covered-files-jest-coverage-report.md
Due: markdownlint, matter-now

Add netlify.toml file
  netlify.toml
Due: none

Update current position and link to résumé
  src/pages/about.md
Due: markdownlint

Update Netlify TLD in redirects
  src/assets/_redirects
Due: none

Update dependencies
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  .nvmrc
  package-lock.json
  package.json
Due: none

Use Node.js 15
  .nvmrc
Due: none

Update dependencies
  .husky/.gitignore
  .husky/_/husky.sh
  .nvmrc
  package-lock.json
  package.json
Due: none

Fix dependencies badge
  README.md
Due: markdownlint

Migrate to Astro v0.26
  astro.config.mjs
  package-lock.json
  package.json
  src/components/Head.astro
  src/pages/[slug].astro
  src/pages/archive.astro
  src/pages/index.astro
  src/posts/2008-11-15-mamae-eu-tambem-quero-subir-no-ranking-do-blogblogs.md
  src/posts/index.ts
  src/styles/main.css
Due: markdownlint, matter-now

Add resume page
  .lintstagedrc.json
  package-lock.json
  package.json
  public/avatar.png
  public/resume.json
  src/pages/resume.astro
Due: none

Add Astro check script
  package.json
Due: none

Update dependencies
  .husky/_/husky.sh
  .nvmrc
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  markdownlint: any of: *.md
  matter-now: any of: src/posts/*.md
